<!-- Footer ======================= -->
<footer id="footer">
  <div class="container">
    <div class="row clearfix">

      <div class="col-lg-4 col-md-4">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h3 class="title-widget">参考信息</h3>
            <ul>
              <li><a href="#">关于我们</a></li>
              <li><a href="#">联系我们</a></li>
              <li><a href="#">成功案例</a></li>
              <li><a href="#">加入我们</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h3 class="title-widget">友情链接</h3>
            <ul>
              <li><a href="#">XX房产网</a></li>
              <li><a href="#">XX房产网</a></li>
              <li><a href="#">xx政府信息网</a></li>
              <li><a href="#">xx政府信息网</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4">
        <h3>联系信息</h3>
        <address>
          <strong>XX有限公司</strong><br> 江苏省南京市
          <br> XX区XX路NN号
          <br>
          <abbr title="Phone">电话：</abbr> 025-88888888
        </address>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">© 2017, XX网, 版权所有</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">XXX 设计开发</div>
      </div>
    </div>

  </div>
</footer>
</body>

</html>