<%- include('partials/blog_head') %>

  <!-- main contents -->
  <!-- MainBody ======================= -->
  <div id="mainBody">
    <div class="container">
      <div class="row">
        <h2>Main Body</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit illo placeat, incidunt animi optio similique dolorum
          iste fugit minima aspernatur odit hic alias dolor facilis sapiente, molestiae autem perferendis qui!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit illo placeat, incidunt animi optio similique dolorum
          iste fugit minima aspernatur odit hic alias dolor facilis sapiente, molestiae autem perferendis qui!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit illo placeat, incidunt animi optio similique dolorum
          iste fugit minima aspernatur odit hic alias dolor facilis sapiente, molestiae autem perferendis qui!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit illo placeat, incidunt animi optio similique dolorum
          iste fugit minima aspernatur odit hic alias dolor facilis sapiente, molestiae autem perferendis qui!</p>

      </div>
    </div>
  </div>

<%- include('partials/blog_footer') %>