<%- include('partials/house_header') %>

  <!-- MainBody ======================= -->
  <div id="mainBody">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-md-12">

        </div>
      </div>

      <div class="row">
        <!-- 缩略图 -->
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house04.png" alt="thumbnail">
            <div class="caption">
              <h3>小城民宿</h3>
              <p class="text-nowrap">160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house03.png" alt="thumbnail">
            <div class="caption">
              <h3>住宅转让</h3>
              <p>160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house01.png" alt="thumbnail">
            <div class="caption">
              <h3>农家乐</h3>
              <p>160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house02.png" alt="thumbnail">
            <div class="caption">
              <h3>小城民宿</h3>
              <p>160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house04.png" alt="thumbnail">
            <div class="caption">
              <h3>小城民宿</h3>
              <p class="text-nowrap">160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house03.png" alt="thumbnail">
            <div class="caption">
              <h3>住宅转让</h3>
              <p>160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house01.png" alt="thumbnail">
            <div class="caption">
              <h3>农家乐</h3>
              <p>160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house02.png" alt="thumbnail">
            <div class="caption">
              <h3>小城民宿</h3>
              <p>160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house04.png" alt="thumbnail">
            <div class="caption">
              <h3>小城民宿</h3>
              <p class="text-nowrap">160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house03.png" alt="thumbnail">
            <div class="caption">
              <h3>住宅转让</h3>
              <p>160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house01.png" alt="thumbnail">
            <div class="caption">
              <h3>农家乐</h3>
              <p>160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="images/house02.png" alt="thumbnail">
            <div class="caption">
              <h3>小城民宿</h3>
              <p>160万, 1200平方米</p>
              <p>50年, 江苏南京*高淳</p>
              <p><a href="detail" class="btn btn-primary" role="button">订购</a> <a href="detail" class="btn btn-default"
                  role="button">预订</a></p>
            </div>
          </div>
        </div>
        <!-- 缩略图 END -->

        <ul class="pagination">
          <li><a href="#">Prev</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">Next</a></li>
        </ul>


      </div>

    </div>
  </div>

<%- include('partials/house_footer') %>