<%- include('partials/house_header') %>

<!-- MainBody ======================= -->
<div id="mainBody">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 column">
        <div class="jumbotron">
          <h4>城里一个家</h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 column">
        <div class="jumbotron">
          <h2>乡村的家</h2>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 column">
        <div class="jumbotron">
          <h4>乡下一个家</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 column">
        <h3 class="center">乡村生活及住宅、旅游设施使用、交换、建设一站式服务网站。</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2 column">
        <a href="#" class="btn btn-primary btn-lg btn-block " role="button">类型</a>
      </div>
      <div class="col-md-10 col-sm-10 column">
        <div class="navbar">
          <ul class="nav nav-pills">
            <li><a href="#">民宿</a></li>
            <li><a href="./search">住宅</a></li>
            <li><a href="#">农家乐</a></li>
            <li><a href="#">旅游设施</a></li>
            <li><a href="#">农地水面</a></li>
            <li><a href="#">创业屋</a></li>
            <li><a href="#">房车基地</a></li>
            <li><a href="#">自然学校</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2 column">
        <a href="#" class="btn btn-primary btn-lg btn-block " role="button">交易类型</a>
      </div>
      <div class="col-md-10 col-sm-10 column">
        <div class="navbar">
          <ul class="nav nav-pills">
            <li><a href="#">出售</a></li>
            <li><a href="#">出租</a></li>
            <li><a href="#">股权投资</a></li>
            <li><a href="#">整体互换</a></li>
            <li><a href="#">连锁联合</a></li>
            <li><a href="#">使用权交换</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2 column">
        <a href="#" class="btn btn-primary btn-lg btn-block " role="button">资金支持</a>
      </div>
      <div class="col-md-10 col-sm-10 column">
        <div class="navbar">
          <ul class="nav nav-pills">
            <li><a href="#">众筹</a></li>
            <li><a href="#">银行贷款</a></li>
            <li><a href="#">公司贷款</a></li>
            <li><a href="#">公司担保</a></li>
            <li><a href="#">个人担保</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2 column">
        <a href="#" class="btn btn-primary btn-lg btn-block " role="button">法律与财务支持</a>
      </div>
      <div class="col-md-10 col-sm-10 column">
        <div class="navbar">
          <ul class="nav nav-pills">
            <li><a href="#">律师事务所</a></li>
            <li><a href="#">会计师事务所</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2 column">
        <a href="#" class="btn btn-primary btn-lg btn-block " role="button">建设支持</a>
      </div>
      <div class="col-md-10 col-sm-10 column">
        <div class="navbar">
          <ul class="nav nav-pills">
            <li><a href="#">设计</a></li>
            <li><a href="#">施工</a></li>
            <li><a href="#">装修</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2 column">
        <a href="#" class="btn btn-primary btn-lg btn-block " role="button">日常管理运营</a>
      </div>
      <div class="col-md-10 col-sm-10 column">
        <div class="navbar">
          <ul class="nav nav-pills">
            <li><a href="#">餐饮及住宿管理</a></li>
            <li><a href="#">庭院管理</a></li>
            <li><a href="#">农地运营</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-sm-2 column">
        <a href="#" class="btn btn-primary btn-lg btn-block " role="button">政府指导与支持</a>
      </div>
      <div class="col-md-10 col-sm-10 column">
        <div class="navbar">
          <ul class="nav nav-pills">
            <li><a href="#">滚动新闻：Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, aliquid!</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/house_footer') %>
